.botonesItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2 {
    width: 90px;
    border: solid;
    margin: solid;
    text-align: center;
}
button {
    font-size: 30px;
    width: 300px;
}