.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen1 {
    border-radius: 10px;
}

.botonesItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
h2 {
    width: 115px;
    border: solid;
    margin: solid;
    text-align: center;
    background-color: pink;
    color: red;
    border-radius: 10px;
}
button {
    font-size: 15px;
    width: 8%;
    background-color: pink;
    color: red;
    border-radius: 10px;
}